<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DevHub <%= title_name %></title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="description" content="DevHub">
    <meta name="author" content="Naoki Kodama">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var TITLE_NAME = "<%= title_name %>".replace("for ","");
    </script>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/devhub.min.js"></script>
    <link id="devhub-style" href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/devhub.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>

  <body id="body-main" style="padding-top: 0px">
   <div class="modal hide" id="name_in">
      <div class="modal-header">
        <h3>DevHub</h3>
      </div>
      <div class="modal-body">
        <p>Please type your name.</p>
        <form id="login_form">
          <input type="text" id="login_name" class="span2" placeholder="Name"/>
        </form>
      </div>
      <div class="modal-footer">
        <button id="login" class="btn btn-primary">Login</button>
      </div>
    </div>

    <div class="navbar navbar-fixed-top hidden-phone">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">DevHub <%= title_name %></a>
          <ul class="nav">
            <% if ( menu_links.length > 0 ){ %>
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                 Links 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% menu_links.forEach(function(val){ %>
                <li><a href="<%= val.url %>" target="_blank"><%= val.name %></a></li>
                <% }) %>
              </ul>
            </li>
            <% } %>
          </ul>


          <ul class="nav pull-right">
            <li><a id="tab_change" href="#" rel="tooltip" title="Change Tab Layout"><i class="icon-white icon-resize-full"></i></a></li>
            <li><a id="scroll_top" href="#" rel="tooltip" title="Scroll Top"><i class="icon-white icon-arrow-up"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Full Screen">
                <i class="icon-white icon-fullscreen"></i>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a id="both_zen" href="#">Chat and Memo</a></li>
                <li><a id="memo_zen" href="#">Memo only</a></li>
                <li><a id="chat_zen" href="#">Chat only</a></li>
              </ul>
            </a></li>
            <li><a href="/blog" target="_blank"   rel="tooltip" title="Blog Page"><i class="icon-white icon-book"></i></a></li>
            <li><a href="/upload" target="_blank" rel="tooltip" title="Uploaded Files Page"><i class="icon-white icon-file"></i></a></li>
            <li><a href="#settings_modal" rel="tooltip" title="Settings" data-toggle="modal"><i class="icon-white icon-cog"></i></a></li>
          </ul>

          <div id="search_box"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid viewport">
      <div class="row-fluid flipsnap">
        <div id="chat_area" class="span5">
          <div class="area-inner">
            <div class="dummy-top-space hidden-phone"></div>
            <div id="login_list_loader"><img src="/img/loader.gif"/> Connecting...</div>
            <div id="login_list">
              <nobr><span id="login_list_body" style="display:block"></span></nobr>
            </div>
            <form id="form" class="form-inline">
              <table>
                <tr>
                  <td style=""><input type="text" name="name" id="name" style="width:50px" placeholder="Name"/></td>
                  <td style="width: 100%; padding-right: 11px;">
                    <textarea name="message" id="message" style="width: 100%; resize: vertical; height: 18px;  line-height: 18px;" rows="1" autocomplete="off" placeholder="Message"/></textarea>
                  </td>
                  <td><button id="send_button" class="btn btn-small btn-primary"/>Send</button></td>
                  <td><input type="file" id="upload_chat" name="file" style="display:none"></input><button id="upload_chat_button" class="btn btn-small btn-inverse visible-phone" style="display:none"><i class="icon-upload icon-white"></i></button></td>
                </tr>
              </table>
            </form>
            <div id="chat_body" class="text-base-style">
              <div id="alert_timeline"></div>
              <ul id="list"></ul>
              <div id="message_loader">
                <img src="/img/loader.gif"/> Loading messages...
              </div>
            </div>
          </div>
        </div>

        <div id="memo_area" class="span7 memo-area">
          <div class="area-inner">
            <div class="dummy-top-space hidden-phone"></div>
            <div id="share-memo">
              <div id="share_memo_tabbable"  class="tabbable tabs-left">
                <ul id="share_memo_nav" class="nav nav-tabs"></ul>
                <div class="tab-content"></div>
              </div>
            </div>
            <footer>
            <span>© 2012 Naoki KODAMA. All rights reserved.</span>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <div id="settings_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Settings</h3>
      </div>
      <div class="modal-body">
        <div id="settings_memo">
          <form class="form-horizontal">
            <div class="control-group notify-radio">
              <legend>Personal Settings</legend>
              <label class="control-label">Show notifications</label>
              <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="notificaton" id="notify_disable" value="disable" checked> Disable
                </label>
                <label class="radio inline">
                  <input type="radio" name="notificaton" id="notify_all" value="true"> All
                </label>
                <label class="radio inline">
                  <input type="radio" name="notificaton" id="notify_mention" value="mention"> Mention only
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Close notification in</label>
              <div class="controls">
                <select id="notification_seconds" class="span1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                </select>
                seconds.
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Avatar</label>
              <div class="controls">
                <div class="input-append">
                  <input type="text" id="avatar" placeholder="xxxx.jpg">
                  <button id="avatar_set" class="btn">Set</button>
                  <button id="upload_avatar_button" class="btn btn-small"><i class="icon-file"></i></button>
                  <img id="avatar_img" class="avatar">
                </div>
                <input type="file" id="upload_avatar" name="file" style="display:none"></input>
              </div>
            </div>
            <div class="control-group timeline-radio">
              <label class="control-label">Display Timeline</label>
              <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="timeline" id="timeline_all" value="all" checked> All
                </label>
                <label class="radio inline">
                  <input type="radio" name="timeline" id="timeline_own" value="own"> Mention & Own 
                </label>
                <label class="radio inline">
                  <input type="radio" name="timeline" id="timeline_mention" value="mention"> Mention only
                </label>
              </div>
            </div>
            <div class="control-group send-message-key-radio">
              <label class="control-label">Send Message Key</label>
              <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="sendkey" id="send_enter" value="enter" checked> Enter
                </label>
                <label class="radio inline">
                  <input type="radio" name="sendkey" id="send_ctrl" value="ctrl"> Ctrl+Enter
                </label>
                <label class="radio inline">
                  <input type="radio" name="sendkey" id="send_shift" value="shift"> Shift+Enter
                </label>
              </div>
            </div>
            <div class="control-group">
              <legend>System Settings</legend>
              <label class="control-label">Enable share memo</label>
              <div class="controls">
                <select id="memo_number" class="span1"></select>
                tabs.
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" aria-hidden="true" data-dismiss="modal" >Close</a>
      </div>
    </div>


    <div id="move_to_blog" style="display:none">
      <button class="btn btn-success"><i class="icon-share-alt icon-white"></i> Move To Blog</button>
    </div>

    <div id="move_to_diff" style="display:none">
      <button class="btn btn-success"><i class="icon-arrow-down icon-white"></i> Next Diff</button>
    </div>

    <div id="loading">
      <img src="img/blog_loader.gif" >
    </div>

    <!-- JsRender Templates -->
    <script id="loginNameTmpl" type="text/x-jsrender">
      {^{if pomo_min == 0}}
        {^{if avatar != null && avatar != ""}}
          <span class="login-symbol" data-name="{{>name}}" title="{{>name}}" rel="tooltip"><img class="avatar" src="{{>avatar}}"></span><wbr>
        {^{else}}
          <span data-link="class{>color_id}" data-name="{{>name}}"><span class="name">{^{>name}}</span>{^{>place}}</span><wbr>
        {^{/if}}
      {^{else}}
        {^{if avatar != null && avatar != ""}}
          <span class="login-symbol login-elem login-name-pomo" data-name="{{>name}}" title="{{>name}}" rel="tooltip"><img class="avatar" src="{{>avatar}}">{^{>place}} <span class="pomo-min">{^{>pomo_min}}min</span></span><wbr>
        {^{else}}
          <span class="login-symbol login-elem login-name-pomo" data-name="{{>name}}"><span class="name">{^{>name}}</span>{^{>place}} <span class="pomo-min">{^{>pomo_min}}min</span></span><wbr>
        {^{/if}}
      {^{/if}}
    </script>

    <script id="searchBoxTmpl" type="text/x-jsrender">
      <form id="search_form" class="navbar-form pull-right">
        <input type="text" class="search-query input-small" placeholder="Search Memo" data-link="keyword">
      </form>

      <form id="matched_control" class="navbar-form pull-right">
        <div class="btn-group">
          <button id="prev_match" class="btn btn-inverse" data-link="style{>matched_navi_style}"><i class="icon-chevron-up icon-white"></i></button>
          <button id="next_match" class="btn btn-inverse" data-link="style{>matched_navi_style}"><i class="icon-chevron-down icon-white"></i></button>
        </div>
      </form>

      <span id="matched_count" class="navbar-text pull-right" data-link="style{>matched_navi_style}">
        <span data-link="matched_index"></span>/<span data-link="matched_num"></span>
      </span>

      <span id="matched_title" class="navbar-text pull-right" data-link="style{>matched_navi_style}">
        <span data-link="matched_title"></span>
      </span>
    </script>

    <script id="alertTimelineTmpl" type="text/x-jsrender">
      <div id="mention_own_alert" class="alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Display Mention & Own mode.
        {^{if hidingMessageCount != 0}}
          <span data-link="hidingMessageCount"></span> new messages.
        {^{/if}}
        </strong>
      </div>
      <div id="mention_alert" class="alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Display Mention only mode.
        {^{if hidingMessageCount != 0}}
          <span data-link="hidingMessageCount"></span> new messages.
        {^{/if}}
        </strong>
      </div>
      <div id="filter_name_alert" class="alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Display <span data-link="filterName"></span> only mode.
        {^{if hidingMessageCount != 0}}
          <span data-link="hidingMessageCount"></span> new messages.
        {^{/if}}
        </strong>
      </div>
    </script>

    <script id="shareMemoTabTmpl" type="text/x-jsrender">
      <li class="share-memo-tab" data-no="{{>no}}">
        <a class="share-memo-tab-elem" id="share_memo_tab_{{>no}}" href="#share_memo_{{>no}}" data-toggle="tab" data-no="{{>no}}" style="display:none">
          <span class="share-memo-title">{^{:title}}</span>
          <div class="writer silent-name">{^{:writer}}</div>
          <div>
            <span class="timestamp"></span>
          </div>
        </a>
      </li>
    </script>

    <script id="shareMemoTmpl" type="text/x-jsrender">
      <div id="share_memo_{{>no}}" class="share-memo tab-pane" data-no="{{>no}}">
        <button class="sync-text btn btn-primary" style="float: left">
          <i class="icon-edit icon-white"></i> Edit
        </button>
        <button class="fix-text btn btn-info" style="float: left; display: none">
          <i class="icon-edit icon-white"></i> Done
        </button>
        <button class="diff-done btn btn-info" style="float: left; display: none">
          <i class="icon-resize-vertical icon-white"></i> Done
        </button>
        <div class="btn-group" style="float: left">
          <a class="btn dropdown-toggle index-button hidden-phone" data-toggle="dropdown" href="#">
            <i class="icon-align-left"></i> Index
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu index-list"></ul>
        </div>
        <div class="btn-group" style="float: left">
          <a class="btn dropdown-toggle diff-button hidden-phone" data-toggle="dropdown" href="#">
            <i class="icon-resize-vertical"></i> Diff
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu diff-list"></ul>
        </div>
        <span class="text-date label label-info"></span>
        <span class="checkbox-count" style="display: none"></span>
        <div class="clearfix"></div>
        <textarea class="code code-unselect" style="display: none" placeholder="Write here"></textarea>
        <pre class="text-base-style">
          <div class="code-out"></div>
        </pre>
        <div class="diff-view" style="display: none"></div>
      </div>
    </script>

    <script id="shareMemoNumberTmpl" type="text/x-jsrender">
      <option value="{{>no}}">{{>no}}</option>
    </script>

    <div id="share_memo_pre_tmp"></div>
  </body>
</html>


