<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DevHub <%= title_name %></title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="description" content="DevHub">
    <meta name="author" content="Naoki Kodama">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var TITLE_NAME = "<%= title_name %>".replace("for ","");
    </script>
 
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
    <script type="text/javascript" src="/javascripts/devhub.min.js"></script>
    <link href="/stylesheets/perfect-scrollbar-0.4.5.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/devhub.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link id="devhub-style" href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
 </head>

  <body id="body-main" style="padding-top: 0px">
    <div class="modal hide" id="name_in">
      <div class="modal-header">
        <h3>DevHub</h3>
      </div>
      <div class="modal-body">
        <p>Please type your name.</p>
        <form id="login_form">
          <input type="text" id="login_name" class="span2" placeholder="Name"/>
        </form>
      </div>
      <div class="modal-footer">
        <button id="login" class="btn btn-primary">Login</button>
      </div>
    </div>

    <div class="navbar navbar-fixed-top hidden-phone">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">DevHub <%= title_name %></a>
          <ul class="nav">
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                 Style 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a id="style-default" href="#">default</a></li>
                <li><a id="style-journal" href="#">journal</a></li>
                <li><a id="style-united" href="#">united</a></li>
                </li>
              </ul>
            </li>
            <% menu_links.forEach(function(val){ %>
            <li><a href="<%= val.url %>" target="_blank"><%= val.name %></a></li>
            <% }) %>
          </ul>

          <ul class="nav pull-right">
            <li><a id="scroll_top" href="#"><i class="icon-white icon-arrow-up"></i></a></li>
            <li><a id="share_zen" href="#"><i class="icon-white icon-fullscreen"></i></a></li>
            <li><a id="upload_file" href="/upload" target="_blank"><i class="icon-white icon-file"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid viewport">
      <div class="row-fluid flipsnap">
        <div id="chat_area" class="span5">
          <div class="area-inner">
            <div class="dummy-top-space hidden-phone"></div>
            <div id="login_list_loader"><img src="/img/loader.gif"/> Connecting...</div>
            <div id="alert_chat_area"></div>
            <div id="login_list" style="display:none"></div>
            <form id="form" class="form-inline">
              <table>
                <tr>
                  <td style=""><input type="text" name="name" id="name" style="width:50px" placeholder="Name"/></td>
                  <td style="width: 100%; padding: 0 10px 0 0;">
                    <input type="text" name="message" id="message" style="width: 100%;" autocomplete="off" placeholder="Message"/>
                    <div id="suggest" style="display: none;"></div>
                  </td>
                  <td><input type="submit" value="Send" class="btn btn-small btn-primary"/></td>
                  <td><span id="pomo" class="btn btn-small btn-warning hidden-phone">Pomo</span></td>
                  <td><input type="file" id="upload_chat" name="file" style="display:none"></input><button id="upload_chat_button" class="btn btn-small btn-inverse visible-phone" style="display:none"><i class="icon-upload icon-white"></i></button></td>
                </tr>
              </table>
            </form>
            <div id="chat_body" class="text-base-style">
              <ul id="list"></ul>
            </div>
          </div>
        </div>

        <div id="memo_area" class="span7 memo-area">
          <div class="area-inner">
            <div class="dummy-top-space hidden-phone"></div>
            <div id="alert_memo_area"></div>
            <div id="share-memo">
              <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                  <li id="share_memo_tab_top" class="share-memo-tab active" data-no="1"></li>

                  <li><a id="settings_tab" href="#settings_memo" data-toggle="tab">Settings</a></li>
                </ul>

                <div class="tab-content">
                  <div id="share_memo_1" data-no="1" class="share-memo tab-pane active"></div>

                  <div id="settings_memo" class="tab-pane">
                    <form class="form-horizontal">
                      <div class="control-group">
                        <legend>Notifications</legend>
                        <label class="control-label">Show notifications</label>
                        <div class="controls">
                          <input type="checkbox" id="notification"/> (Works on Chrome, Safari and Firefox)
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Close automatically in</label>
                        <div class="controls">
                          <select id="notification_seconds" class="span1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select>
                          seconds.
                        </div>
                      </div>

                      <div class="control-group">
                       <legend>ShareMemo</legend>
                        <label class="control-label">Number</label>
                        <div class="controls">
                          <select id="memo_number" class="span1">
                            <option id="memo_number_option_top" value="1">1</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <footer>
            <span>© 2012 Naoki KODAMA. All rights reserved.</span>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <!-- JsRender Templates -->
    <script id="loginNameTmpl" type="text/x-jsrender">
      {{if pomo_min == 0}}
      <span class="login-elem login-name{{>color_id}}"><span class="name">{{>name}}</span>{{>place}}</span><wbr>
      {{else}}
      <span class="login-elem login-name-pomo"><span class="name">{{>name}}</span>{{>place}} <span class="pomo-min">{{>pomo_min}}min</span></span><wbr>
      {{/if}}
    </script>

    <script id="shareMemoTabTmpl" type="text/x-jsrender">
      <a class="share-memo-tab-elem" id="share_memo_tab_{{>no}}" href="#share_memo_{{>no}}" data-toggle="tab" data-no="{{>no}}" style="display:none">
        <span> - No.{{>no}} - </span>
        <div class="writer"></div>
        <div>
          <span class="timestamp"></span>
        </div>
      </a>
    </script>

    <script id="shareMemoTmpl" type="text/x-jsrender">
      <button class="sync-text btn btn-primary" style="float: left">
        <i class="icon-edit icon-white"></i> Edit
      </button>
      <button class="fix-text btn btn-info" style="float: left; display: none">
        <i class="icon-edit icon-white"></i> Done
      </button>
      <button class="diff-done btn btn-info" style="float: left; display: none">
        <i class="icon-resize-vertical icon-white"></i> Done
      </button>
      <div class="btn-group" style="float: left">
        <a class="btn dropdown-toggle index-button hidden-phone" data-toggle="dropdown" href="#">
          <i class="icon-align-left"></i> Index
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu index-list"></ul>
      </div>
      <div class="btn-group" style="float: left">
        <a class="btn dropdown-toggle diff-button hidden-phone" data-toggle="dropdown" href="#">
          <i class="icon-resize-vertical"></i> Diff
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu diff-list"></ul>
      </div>
      <span class="text-writer label label-info"></span>
      <span class="checkbox-count" style="display: none"></span>
      <div class="clearfix"></div>
      <textarea class="code code-unselect" style="display: none" placeholder="Write here"></textarea>
      <pre class="text-base-style">
        <div class="code-out"></div>
      </pre>
      <div class="diff-view" style="display: none"></div>
    </script>

  </body>
</html>


