<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DevHub <%= title_name %></title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="description" content="DevHub">
    <meta name="author" content="Naoki Kodama">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var TITLE_NAME = "<%= title_name %>".replace("for ","");
    </script>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/devhub.min.js"></script>
    <link href="/stylesheets/devhub.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link id="devhub-style" href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>

  <body id="body-main" style="padding-top: 0px">
    <div class="modal hide" id="name_in">
      <div class="modal-header">
        <h3>DevHub</h3>
      </div>
      <div class="modal-body">
        <p>Please type your name.</p>
        <form id="login_form">
          <input type="text" id="login_name" class="span2" placeholder="Name"/>
        </form>
      </div>
      <div class="modal-footer">
        <button id="login" class="btn btn-primary">Login</button>
      </div>
    </div>

    <div class="navbar navbar-fixed-top hidden-phone">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">DevHub <%= title_name %></a>
          <ul class="nav">
            <!--
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                 Style 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a id="style-default" href="#">default</a></li>
                <li><a id="style-journal" href="#">journal</a></li>
                <li><a id="style-united" href="#">united</a></li>
                </li>
              </ul>
            </li>
            -->
            <% if ( menu_links.length > 0 ){ %>
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                 Links 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% menu_links.forEach(function(val){ %>
                <li><a href="<%= val.url %>" target="_blank"><%= val.name %></a></li>
                <% }) %>
              </ul>
            </li>
            <% } %>
          </ul>


          <ul class="nav pull-right">
            <li><a id="tab_change" href="#"><i class="icon-white icon-resize-full"></i></a></li>
            <li><a id="scroll_top" href="#"><i class="icon-white icon-arrow-up"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Full Screen">
                <i class="icon-white icon-fullscreen"></i>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a id="both_zen" href="#">Chat and Memo</a></li>
                <li><a id="memo_zen" href="#">Memo only</a></li>
                <li><a id="chat_zen" href="#">Chat only</a></li>
              </ul>
            </a></li>
            <li><a href="/blog" target="_blank"><i class="icon-white icon-book"></i></a></li>
            <li><a href="/upload" target="_blank"><i class="icon-white icon-file"></i></a></li>
          </ul>

          <div id="search_box"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid viewport">
      <div class="row-fluid flipsnap">
        <div id="chat_area" class="span5">
          <div class="area-inner">
            <div class="dummy-top-space hidden-phone"></div>
            <div id="login_list_loader"><img src="/img/loader.gif"/> Connecting...</div>
            <div id="alert_chat_area"></div>
            <div id="login_list">
              <nobr><span id="login_list_body" style="display:block"></span></nobr>
            </div>
            <form id="form" class="form-inline">
              <table>
                <tr>
                  <td style=""><input type="text" name="name" id="name" style="width:50px" placeholder="Name"/></td>
                  <td style="width: 100%; padding: 0 10px 0 0;">
                    <input type="text" name="message" id="message" style="width: 100%;" autocomplete="off" placeholder="Message"/>
                  </td>
                  <td><input type="submit" value="Send" class="btn btn-small btn-primary"/></td>
                  <td><span id="pomo" class="btn btn-small btn-warning hidden-phone">Pomo</span></td>
                  <td><input type="file" id="upload_chat" name="file" style="display:none"></input><button id="upload_chat_button" class="btn btn-small btn-inverse visible-phone" style="display:none"><i class="icon-upload icon-white"></i></button></td>
                </tr>
              </table>
            </form>
            <div id="chat_body" class="text-base-style">
              <ul id="list"></ul>
              <div id="message_loader">
                <img src="/img/loader.gif"/> Loading messages...
              </div>
            </div>
          </div>
        </div>

        <div id="memo_area" class="span7 memo-area">
          <div class="area-inner">
            <div class="dummy-top-space hidden-phone"></div>
            <div id="alert_memo_area"></div>
            <div id="share-memo">
              <div id="share_memo_tabbable"  class="tabbable tabs-left">
                <ul id="share_memo_nav" class="nav nav-tabs">
                  <li id="share_memo_tab_top" class="share-memo-tab active" data-no="1"></li>

                  <li><a id="settings_tab" href="#settings_memo" data-toggle="tab">Settings</a></li>
                </ul>

                <div class="tab-content">
                  <div id="share_memo_1" data-no="1" class="share-memo tab-pane active"></div>

                  <div id="settings_memo" class="tab-pane">
                    <form class="form-horizontal">
                      <div class="control-group notify-radio">
                        <legend>Personal Settings</legend>
                        <label class="control-label">Show notifications</label>
                        <div class="controls">
                          <label class="radio inline">
                            <input type="radio" name="notificaton" id="notify_disable" value="disable" checked> Disable
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="notificaton" id="notify_all" value="true"> All
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="notificaton" id="notify_mention" value="mention"> Mention only
                          </label>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Close notification in</label>
                        <div class="controls">
                          <select id="notification_seconds" class="span1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                          </select>
                          seconds.
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Avatar</label>
                        <div class="controls">
                          <div class="input-append">
                            <input type="text" id="avatar" placeholder="xxxx.jpg">
                            <button id="avatar_set" class="btn">Set</button>
                            <button id="upload_avatar_button" class="btn btn-small"><i class="icon-file"></i></button>
                          </div>
                          <input type="file" id="upload_avatar" name="file" style="display:none"></input>
                        </div>
                      </div>

                      <div class="control-group">
                       <legend>System Settings</legend>
                        <label class="control-label">Enable share memo</label>
                        <div class="controls">
                          <select id="memo_number" class="span1">
                            <option id="memo_number_option_top" value="1">1</option>
                          </select>
                          tabs.
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <footer>
            <span>© 2012 Naoki KODAMA. All rights reserved.</span>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <div id="move_to_blog" style="display:none">
      <button class="btn btn-danger"><i class="icon-share-alt icon-white"></i> Move To Blog</button>
    </div>


    <!-- JsRender Templates -->
    <script id="loginNameTmpl" type="text/x-jsrender">
      {^{if pomo_min == 0}}
        {^{if avatar != null && avatar != ""}}
          <span class="login-symbol" data-name="{{>name}}" title="{{>name}}"><img class="avatar" src="{{>avatar}}"></span><wbr>
        {^{else}}
          <span data-link="class{>color_id}" data-name="{{>name}}"><span class="name">{^{>name}}</span>{^{>place}}</span><wbr>
        {^{/if}}
      {^{else}}
        {^{if avatar != null && avatar != ""}}
          <span class="login-symbol login-elem login-name-pomo" data-name="{{>name}}" title="{{>name}}"><img class="avatar" src="{{>avatar}}">{^{>place}} <span class="pomo-min">{^{>pomo_min}}min</span></span><wbr>
        {^{else}}
          <span class="login-symbol login-elem login-name-pomo" data-name="{{>name}}"><span class="name">{^{>name}}</span>{^{>place}} <span class="pomo-min">{^{>pomo_min}}min</span></span><wbr>
        {^{/if}}
      {^{/if}}
    </script>

    <script id="searchBoxTmpl" type="text/x-jsrender">
      <form id="search_form" class="navbar-form pull-right">
        <input type="text" class="search-query input-small" placeholder="Search Memo" data-link="keyword">
      </form>

      <form id="matched_control" class="navbar-form pull-right">
        <div class="btn-group">
          <button id="prev_match" class="btn btn-inverse" data-link="style{>matched_navi_style}"><i class="icon-chevron-up icon-white"></i></button>
          <button id="next_match" class="btn btn-inverse" data-link="style{>matched_navi_style}"><i class="icon-chevron-down icon-white"></i></button>
        </div>
      </form>

      <span id="matched_count" class="navbar-text pull-right" data-link="style{>matched_navi_style}">
        <span data-link="matched_index"></span>/<span data-link="matched_num"></span>
      </span>

      <span id="matched_title" class="navbar-text pull-right" data-link="style{>matched_navi_style}">
        <span data-link="matched_title"></span>
      </span>
    </script>

    <script id="shareMemoTabTmpl" type="text/x-jsrender">
      <a class="share-memo-tab-elem" id="share_memo_tab_{{>no}}" href="#share_memo_{{>no}}" data-toggle="tab" data-no="{{>no}}" style="display:none">
        <span class="share-memo-title"> - No.{{>no}} - </span>
        <div class="writer"></div>
        <div>
          <span class="timestamp"></span>
        </div>
      </a>
    </script>

    <script id="shareMemoTmpl" type="text/x-jsrender">
      <button class="sync-text btn btn-primary" style="float: left">
        <i class="icon-edit icon-white"></i> Edit
      </button>
      <button class="fix-text btn btn-info" style="float: left; display: none">
        <i class="icon-edit icon-white"></i> Done
      </button>
      <button class="diff-done btn btn-info" style="float: left; display: none">
        <i class="icon-resize-vertical icon-white"></i> Done
      </button>
      <div class="btn-group" style="float: left">
        <a class="btn dropdown-toggle index-button hidden-phone" data-toggle="dropdown" href="#">
          <i class="icon-align-left"></i> Index
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu index-list"></ul>
      </div>
      <div class="btn-group" style="float: left">
        <a class="btn dropdown-toggle diff-button hidden-phone" data-toggle="dropdown" href="#">
          <i class="icon-resize-vertical"></i> Diff
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu diff-list"></ul>
      </div>
      <span class="text-date label label-info"></span>
      <span class="checkbox-count" style="display: none"></span>
      <div class="clearfix"></div>
      <textarea class="code code-unselect" style="display: none" placeholder="Write here"></textarea>
      <pre class="text-base-style">
        <div class="code-out"></div>
      </pre>
      <div class="diff-view" style="display: none"></div>
    </script>

    <div id="share_memo_pre_tmp"></div>
  </body>
</html>


